@{
    ViewBag.Title = "Giới thiệu";
}

<h2>Giới thiệu Biển Ba Động</h2>

<p>
    Website quảng bá du lịch Biển Ba Động được xây dựng nhằm giới thiệu
    các điểm tham quan, lễ hội, ẩm thực và lịch trình du lịch tại
    Biển Ba Động – Trà Vinh.
</p>